
bin/Debug/net7.0/Evaluator.dll
bin/Debug/net7.0/Evaluator.pdb
Evaluator.csproj
obj/Debug/net7.0/Evaluator.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Evaluator.dll
obj/Debug/net7.0/Evaluator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Evaluator.pdb
obj/Debug/net7.0/project.razor.vs.json
obj/Debug/net7.0/ref/Evaluator.dll
obj/Debug/net7.0/refint/Evaluator.dll
*.dll
*.pdb
*.cache
*.txt
*.cache
*.pdb
*.json
*.json
bin/Debug/net7.0/Evaluator.dll
*.pdb
*.json
