@page
@model Evaluator.Pages.Report.ReportSumModel
<div class=" = container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Applicant Summary List</h2>
		</div>
		<div class="col-6 text-end">
			
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				
				<th>
					Applicant Name
				</th>
				<th>
					Evaluator Name
				</th>
				<th>
					Application Date
				</th>

				<th>
					Total Score
				</th>
			</tr>

		</thead>

		<tbody>

			@foreach (var obj in Model.Applicant)
			{
				<tr>
					
					<td>@obj.AppName</td>

					<td>
						

					</td>
				</tr>
			}

		</tbody>
	</table>

</div>