@page
@model Evaluator.Pages.Evaluation.EvaluateModel
@{
}
<header>
</header>
<body>
	<div class=" = container p-3">
		<div class="row pt-4">
			<div class="col-6">
				<h2 class="text-primary">Applicant List</h2>
			</div>
			
		</div>

		<table class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>
						Applicant Id
					</th>

					<th>
						Application Name
					</th>

				</tr>

			</thead>
			<tbody>

				<!--I need the criteria and I need to have a way to score them maybe add a submit button?-->
				@foreach (var obj in Model.ObjCriteriaList)
				{
					<tr>
						<td>@obj.Name	</td>
						<td>@obj.Description</td>

						<td>
							

						</td>
					</tr>
				}
			</tbody>
		</table>
</body>