@page
@model Evaluator.Pages.Evaluation.IndexModel
@{
}
<!--Create a form that runs through all of the applications in the database and allows the evaluator to click on them-->
<header>

</header>
<body>
	<div class=" = container p-3">
		<div class="row pt-4">
			<div class="col-6">
				<h2 class="text-primary">Applicant List</h2>
			</div>
			
		</div>

		<table class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>
						Applicant Id
					</th>

					<th>
						Application Name
					</th>

				</tr>

			</thead>
	<tbody>
			@foreach (var obj in Model.Applicant)
			{
				<tr>
					<td>@obj.Id	</td>
					<td>@obj.AppName</td>

					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="Evaluate" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><!--Would I need to generate a new id for evaluation header here?-->
								Begin Evaluation
							</a>
							
						</div>

					</td>
				</tr>
			}
</tbody>
</table>
</body>