@page
@model Evaluator.Pages.Criterias.EditModel

<form method="post">
	<input hidden asp-for="Criteria.CritId" />
	<div class="border p-3 mt-4">
		<div class=" row pb-2">
			<h2 class="text-primary pl-3">Edit Criteria</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Criteria.Name"></label>
			<input asp-for="Criteria.Name" class="form-control" />
			<span asp-validation-for="Criteria.Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Criteria.Description"></label>
			<input asp-for="Criteria.Description" class="form-control" />
			<span asp-validation-for="Criteria.Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Criteria.Weight"></label>
			<input asp-for="Criteria.Weight" class="form-control" />
			<span asp-validation-for="Criteria.Weight" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
	</div>

</form>